version: "3.9"

services:
  postgres:
    image: pgvector/pgvector:pg18
    container_name: pgvector-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Gulam@123
      POSTGRES_DB: vector_db
    ports:
      - "5432:5432"

opensearch:
    image: opensearchproject/opensearch:2.11.0
    environment:
      - discovery.type=single-node
      - plugins.security.disabled=true
    ports:
      - "9200:9200"
